.hero {
  width: 100%;
  height: 895px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  &__content {
    width: 100%;
  }

  &__image-container {
    width: 100%;
    height: 560px;
    overflow: hidden;
  }

  .img-hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text-box {
    width: 100vw;
    height: 280px;
    background-color: $color-secondary;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__wrapper {
    width: 80%;
    height: 270px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
  }

  &__hero-title {
    font-size: 1.3rem;
    line-height: 3rem;
  }

  &__hero-text {
    margin-top: 15px;

    p {
      max-width: 60vw;
    }
  }

  &__link-group {
    width: 128px;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__hero-link {
    margin: 8px 8px 0 0;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow__icon {
      width: 15px;
      height: 15px;
      fill: $color-black;
      margin-right: 5px;
    }
  }
}

.categories-section {
  width: 100%;
  height: 368px;

  margin-top: 815px;

  .categories {
    width: 100%;
    height: inherit;
    padding-left: 30px;

    &__content {
      width: 100%;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 48px 0 64px 0;
    }

    &__heading {
      width: 90%;
      margin: 0 0 32px 15px;
      position: relative;
    }

    &__text {
      font-weight: 400;
      line-height: 1.1em;
      font-size: 1.7rem;
    }

    .dot-icon {
      width: 25px;
      height: 25px;
      fill: $color-dot;
      position: absolute;
      bottom: -1.6px;
      opacity: 0;

      animation: blinkingDot 1.2s infinite;
    }

    .categories-items__container {
      width: 100%;
      height: 168px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 15px;
      overflow: hidden;
    }

    &__link {
      display: block;
      width: 168px;
      height: 168px;
      margin-right: 8px;
    }

    &__item {
      width: inherit;
      height: inherit;

      display: flex;
      justify-content: center;
      align-items: center;

      &--clothing {
        background: url(../assets/images/mammut-img/clothing.jpg) no-repeat
          center center;
        background-size: cover;
      }

      &--footwear {
        background: url(../assets/images/mammut-img/footwear.jpg) no-repeat
          center center;
        background-size: cover;
      }

      &--equipment {
        background: url(../assets/images/mammut-img/equipment.jpg) no-repeat
          center center;
        background-size: cover;
      }
    }

    .categories-text {
      color: $color-primary;
      font-size: 1.5rem;
    }

    &__icon-arrow {
      fill: $color-primary;
      width: 24px;
      height: 24px;
    }
  }
}

.celebrating {
  width: 100%;
  height: 865px;

  .video-bg {
    width: 100%;
    position: relative;

    &__video {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    &__text-content {
      width: 100%;
      height: auto;
      color: $color-primary;
      background-color: $color-tertiary;
      position: absolute;
      top: 560px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &__text-box {
      width: 60%;
      height: auto;
      margin: 32px 0 45px 15px;
      line-height: 1.2rem;
      font-size: 0.9rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 15px;
    }

    &__title {
      font-size: 1.7rem;
      line-height: 3rem;
    }

    &__link {
      width: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      font-size: 0.8rem;

      .arrow__icon {
        display: inline-block;
        fill: $color-primary;
        width: 15px;
        height: 15px;
      }

      p {
        max-width: 60vw;
      }
    }
  }
}

.shop {
  width: 100%;
  height: 720px;
  margin-top: 70px;

  .cards {
    width: 100%;
    height: inherit;
    color: $color-primary;
    position: relative;
    margin: 0 auto;

    &__item {
      width: 335px;
      height: 335px;
      margin: 0 auto;

      &--men {
        margin-bottom: 15px;
        background: url(../assets/images/mammut-img/Men.jpg) no-repeat center
          center;
        background-size: cover;
      }

      &--women {
        background: url(../assets/images/mammut-img/Women.jpg) no-repeat center
          center;
        background-size: cover;
      }
    }

    &__link {
      display: block;
      width: inherit;
      height: inherit;
      position: relative;
    }

    &__text {
      width: 100%;
      height: 100%;
      padding: 15px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__title {
      height: 40px;
      font-size: 2rem;
      margin-top: 15px;
    }

    &__links {
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.explore {
  width: 100%;
  height: auto;
  margin-top: 70px;

  .video-bg {
    width: 100%;
    overflow: hidden;
    border: 1px solid red;

    &__video {
      width: 100%;
      object-fit: cover;
    }

    .video-explore {
      width: 100%;
      height: inherit;
      color: $color-primary;
      background: transparent;
      margin: -240px 0 0 15px;
    }

    &__text-box {
      width: 60%;
      height: auto;
      margin: 32px 0 48px 15px;
      line-height: 1.2rem;
      font-size: 0.9rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 15px;
    }

    &__title {
      font-size: 1.7rem;
      line-height: 3rem;
    }

    &__link-group {
      width: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      font-size: 0.8rem;

      .arrow__icon {
        display: inline-block;
        fill: $color-primary;
        width: 15px;
        height: 15px;
      }

      p {
        max-width: 60vw;
      }
    }
  }
}

.products {
  width: 100%;
  height: 352px;
  margin-top: 15px;

  .category-card {
    padding: 15px;
    width: 100%;
    height: 100%;

    &__container {
      height: 88px;      
    }

    &__link {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      //padding: 15px;
      position: relative;
      border-bottom: 1px solid $color-grey-dark-3;
      overflow: hidden;

      &:not(:nth-child(-n + 3)) {
        display: none;
      }
    }

    &__text {
      font-size: 1.25rem;
    }

    &__image-group {
      width: auto;
      height: inherit;
      display: flex;
      align-items: center;
      position: absolute;
      left: 256px;
    }

    &__image {
      width: 54.5px;
      height: 54.5px;
      display: flex;
      justify-content: center;
    }

    img {
      height: 54.5px;
    }
  }
}

.community {
  width: 100%;

  &__header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .community__subtitle {
    font-size: 1.1rem;
  }

  .community__title {
    font-size: 3.4rem;
    margin: 48px;
  }
}
