.hero {
  width: 100%;
  height: 56rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  &__content {
    width: 100%;
  }

  &__image-container {
    width: 100%;
    height: 35rem;
    overflow: hidden;
  }

  .img-hiking {
    width: 100vw;
    height: 35rem;
    object-fit: cover;
  }

  &__text-box {
    width: 100vw;
    height: 17.5rem;
    background-color: var(--color-secondary);
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__wrapper {
    width: 80%;
    height: 17rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
  }

  &__hero-title {
    font-size: 1.3rem;
    line-height: 3rem;
  }

  &__hero-text {
    margin-top: 1rem;

    p {
      max-width: 60vw;
    }
  }

  &__link-group {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    width: 8rem;
    height: auto;
  }

  &__hero-link {
    margin: 0.5rem 0.5rem 0 0;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow__icon {
      width: 1rem;
      height: 1rem;
      fill: black;
      margin-right: 5px;
    }
  }
}

.categories-section {
  width: 100%;
  height: 100%;
  margin-top: 51rem;

  .categories {
    width: 100%;
    height: auto;

    &__content {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 3rem 0 4rem 0;
    }

    &__heading {
      width: 90%;
      margin: 0 0 2rem 1rem;
      position: relative;
    }

    &__text {
      font-weight: 400;
      line-height: 1.1em;
      font-size: 1.7rem;
    }

    .dot-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--color-dot);
      position: absolute;
      bottom: -0.2rem;

      animation: blinkingDot 1.5s steps(2) infinite;
    }

    .categories-items__container {
      width: 100%;
      height: 10.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 1rem;
    }

    &__link {
      display: block;
      width: 10.5rem;
      height: 10.5rem;
      margin-right: 0.5rem;
    }

    &__item {
      width: inherit;
      height: inherit;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      &--clothing {
        background: url(../assets/images/mammut-img/clothing.jpg) no-repeat
          center center;
        background-size: cover;
      }

      &--footwear {
        background: url(../assets/images/mammut-img/footwear.jpg) no-repeat
          center center;
        background-size: cover;
      }

      &--equipment {
        background: url(../assets/images/mammut-img/equipment.jpg) no-repeat
          center center;
        background-size: cover;
      }
    }

    .categories-text {
      color: var(--color-primary);
      font-size: 1.5rem;
    }

    &__icon-arrow {
      fill: var(--color-primary);
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.celebrating {
  margin-top: -15rem;
  width: 100%;
  height: auto;

  .video-bg {
    width: 100%;
    position: relative;

    &__video {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    &__text-content {
      width: 100%;
      height: inherit;
      color: var(--color-primary);
      background-color: var(--color-tertiary);
      position: absolute;
      top: 35rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &__text-box {
      width: 60%;
      height: auto;
      margin: 2rem 0 3rem 1rem;
      line-height: 1.2rem;
      font-size: 0.9rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 1rem;
    }

    &__title {
      font-size: 1.7rem;
      line-height: 3rem;
    }

    &__link {
      width: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.8rem;

      .arrow__icon {
        display: inline-block;
        fill: var(--color-primary);
        width: 1rem;
        height: 1rem;
      }

      p {
        max-width: 60vw;
      }
    }
  }
}

.shop {
  width: 100%;
  height: 45rem;
  margin-top: 20rem;

  .cards {
    width: 100%;
    height: inherit;
    color: var(--color-primary);
    position: relative;
    margin: 0 auto;

    &__item {
      width: 21rem;
      height: 21rem;
      margin: 0 auto;

      &--men {
        margin-bottom: 1rem;
        background: url(../assets/images/mammut-img/Men.jpg) no-repeat center
          center;
        background-size: cover;
      }

      &--women {
        background: url(../assets/images/mammut-img/Women.jpg) no-repeat center
          center;
        background-size: cover;
      }
    }

    &__link {
      display: block;
      width: inherit;
      height: inherit;
      position: relative;
    }

    &__text {
      width: 100%;
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__title {
      height: 2.5rem;
      font-size: 2rem;
      margin-top: 1rem;
    }

    &__links {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.explore {
  width: 100%;
  height: auto;
  margin-top: 2rem;

  .video-bg {
    &__video {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    .video-explore {
      width: 100%;
      height: inherit;
      color: var(--color-primary);
      background: transparent;
      margin: -15rem 0 0 1rem;
    }

    &__text-box {
      width: 60%;
      height: auto;
      margin: 2rem 0 3rem 1rem;
      line-height: 1.2rem;
      font-size: 0.9rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 1rem;
    }

    &__title {
      font-size: 1.7rem;
      line-height: 3rem;
    }

    &__link-group {
      width: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.8rem;

      .arrow__icon {
        display: inline-block;
        fill: var(--color-primary);
        width: 1rem;
        height: 1rem;
      }

      p {
        max-width: 60vw;
      }
    }
  }
}

.products {
  width: 100%;
  height: 22rem;
  margin-top: 1rem;

  .category-card {
    padding: 1rem;
    width: 100%;
    height: 100%;

    &__container {
      height: 5.5rem;
    }

    &__link {
      width: 100%;
      height: inherit;
      display: flex;
      align-items: center;
      padding: 1rem;
      position: relative;
      border-bottom: 1px solid var(--color-grey-dark-3);
      overflow: hidden;

      &--4,
      &--5,
      &--6 {
        display: none;
      }
    }

    &__text {
      font-size: 1.25rem;
    }

    &__image-group {
      width: auto;
      height: inherit;
      display: flex;
      align-items: center;
      position: absolute;
      left: 16rem;
    }

    &__image {
      width: 3.4rem;
      height: 3.4rem;
      display: flex;
      justify-content: center;
    }

    img {
      height: 3.4rem;
    }
  }
}

.community {
  width: 100%;

  &__header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .community__subtitle {
    font-size: 1.1rem;
  }

  .community__title {
    font-size: 3.4rem;
    margin: 3rem;
  }
}
