.nav {
  width: auto;
  height: inherit;
  margin-top: 15px;
  position: relative;

  &__list {
    display: none;
  }

  &__nav-content {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
  }

  &__logo-link {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo-box {
    display: block;
    height: auto;
    width: auto;
  }

  .nav-menu {
    height: 48px;
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    &__container {
      width: 150px;
      height: inherit;
      position: relative;
      display: flex;
      align-items: center;
    }

    .nav__icon {
      height: inherit;
      padding: 0 15px;
      background-color: $color-primary;
      box-shadow: 0 0.5px 2px $color-grey-dark-2;
      cursor: pointer;

      &--magnifier {
        width: 75px;
        height: 38.5px;
        border-radius: 50rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &--menu {
        height: 48px;
        width: 48px;
        position: absolute;
        top: 0;
        left: 48px;
        border-radius: 50%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &--bag {
        width: 80px;
        height: 38.5px;
        border-radius: 500px;
        position: absolute;
        left: 64px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .svg__icon {
        height: 19px;
        width: 19px;
      }
    }
  }
}
