/* breakpoint 768px */
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 0) {
  .nav {
    width: 100%;
  }

  .nav__container .nav-menu {
    left: 40%;
  }

  .hero {
    width: 100%;

    &__image-container {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    .img-hiking {
      height: 40rem;
      object-fit: cover;
    }
  }

  .categories-section {
    margin-top: 57rem;

    .categories {
      .categories-items__container {
        width: 100%;
        height: 13.75rem;
      }

      .categories__link {
        width: 13.75rem;
        height: 13.75rem;
      }
    }
  }

  .celebrating {
    width: 100%;
    height: auto;
  }

  .shop {
    width: 100%;
    height: 24rem;

    .cards__container {
      width: 100%;
      height: 23rem;
    }

    .cards {
      width: 100%;
      height: inherit;

      position: relative;
      top: -4rem;
      left: 5rem;

      &::after {
        content: "";
        clear: both;
        display: block;
      }

      &__item {
        width: 21rem;
        height: 21rem;
        float: left;

        &--women {
          position: absolute;
          top: 3rem;
          left: 22rem;
        }
      }
    }
  }

  .products {
    width: 100%;
    height: 15rem;
    margin-top: 1rem;

    .category-card {
      height: inherit;
      &__link--4,
      &__link--5,
      &__link--6 {
        display: block;
      }

      &__container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
      }

      &__link {
        flex: 0 1 45%;
        display: flex;
        align-items: center;
        padding: 1rem;
        position: relative;
      }

      &__image-group {
        right: 5rem;
      }

      &__images:not(:first-child) > * {
        display: none;
      }
    }
  }

  .products {
    margin-top: 7rem;
  }

  .community {
    margin-top: 2rem;
  }
}

/* breakpoint 1024px */
@media screen and (min-width: 1024px) {
  body {
    line-height: 1.4rem;
  }

  .nav {
    width: 100%;
    margin-top: 1rem;
    font-size: 0.8rem;

    &__navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      display: block;
    }

    &__item {
      margin-right: 1rem;
    }

    &__text {
      color: var(--color-primary);
    }

    .nav-menu {
      display: none;
    }

    svg {
      fill: var(--color-primary);
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .hamburger-btn {
      background-color: transparent;
      border: none;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--bottom {
        margin-top: -0.5rem;
      }
    }

    .minus-icon,
    .user-icon,
    .search-icon,
    .location-shopping-icon {
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  .hero {
    width: 100vw;
    height: 100vh;
    border: 1px solid red;

    &__content {
      display: flex;
      align-items: flex-start;
      width: 100vw;
      height: 100vh;
    }

    &__image-container {
      flex: 0 1 60vw;
      height: 100vh;

      .img-hiking {
        width: auto;
        height: 100vh;
      }
    }

    &__text-box {
      flex: 0 1 40vw;
      height: 100vh;
      margin-top: 0;
      font-size: 0.9rem;
    }

    &__hero-title h1 {
      font-size: 4.5rem;
      line-height: 1.1;
    }
  }

  .categories-section {
    margin-top: 48rem;

    .categories {
      width: 100vw;

      &__content {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &__heading {
        flex: 0 1 30vw;
        font-size: 2rem;
        margin-left: 2rem;
      }
      .categories-items__container {
        height: 15rem;
        flex: 0 1 70vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.2rem;
      }

      &__link,
      &__item {
        width: 14.75rem;
        height: 14.75rem;
      }
    }
  }

  .celebrating {
    width: 100vw;
    height: 100vh;

    .video-bg {
      width: 100vw;
      height: 100vh;

      display: flex;
      flex-direction: row;
      //align-items: center;

      &__video {
        flex: 0 1 60vw;
        height: 100vh;
      }

      &__text-content {
        flex: 0 1 40vw;
        //height: 100vh;
      }
    }
  }

  .shop {
    width: 100%;
    height: 35rem;

    .cards {
      width: 100%;

      &__item {
        width: 34rem;
        height: 34rem;

        &--women {
          left: 36rem;
        }
      }
    }
  }

  .explore {
    width: 100%;

    .video-bg {
      width: 100%;

      &__video {
        width: 100vw;
      }
    }
  }

  .products {
    width: 100%;

    .category-card {
      &__link {
        flex: 0 1 30%;
        display: flex;
        align-items: center;
        padding: 1rem;
        position: relative;
      }
    }
  }

  .community__container {
    width: 95%;
    margin: 0 auto;

    .community__gallery-container {
      height: auto;
      columns: 3 auto;
      gap: 1rem;

      & img {
        margin-bottom: 1rem;
        width: 100%;
      }
    }
  }

  .footer{
    width: 100%;
    height:60rem; 
    overflow: hidden;   

    &__container{
      width: 100vw;      
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;      
    }

    &__communication, &__nav, &__about, &__nav-social, &__lower {
      flex: 0 1 45vw;
      margin-right: 1rem;      
    }

    &__nav{
      margin-top: 3rem;
    }

    &__legacy-wrapper{
      text-align: left;      
    }
  }
}

/* breakpoint 1366px */
@media screen and (min-width: 1366px) {
  body {
    font-size: 1.3rem;
  }
}
