.community__container {
  width: 95%;
  margin: 0 auto;
  
  .community__gallery-container {
    height: auto;
    columns: 2 auto;
    gap: 5px;        

    & img {
      margin-bottom: 5px;
      width: 100%;
    }
  }
}
